<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>

<body>
<h1>Создать задачу</h1>

<form action="/todos/add/" method="post">
    {% csrf_token %}
    <label>Описание:</label><br/>
    <input type="text" name="content"/><br/>
    <label>Статус:</label><br/>
    <div>
        <select name="status" id="">
            <option value="new">Новая</option>
            <option value="in_progress">В процессе</option>
            <option value="done">Сделано</option>
        </select>
    </div><br/>
    <label>Детальное описание:</label><br/>
    <textarea name="details" rows="4" cols="50"></textarea><br/>
    <label>Дата выполнения:</label><br/>
    <input type="text" name="created_at"/><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>

<a href="{% url "index" %}">На главную</a>
</body>
</html>