{% extends 'base.html' %}
{% load static %}
{% block link %}
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "todo_add" %}">Создать задачу</a>
    </li>
{% endblock %}
{% block content %}

        <style>
            .card {
                margin-bottom: 20px;
            }
        </style>

    <h1>Список задач:</h1>

    <br>
    {% for todo in todo_list %}

        <div class="card" style="width: 18rem;">

            {% if todo.status == 'new' %}
                <img src="{% static 'images/new.jpeg' %}" class="card-img-top" alt="...">
            {% elif todo.status == 'in_progress' %}
                <img src="{% static 'images/in_progress.jpeg' %}" class="card-img-top" alt="...">
            {% elif todo.status == 'done' %}
                <img src="{% static 'images/done.jpeg' %}" class="card-img-top" alt="...">
            {% endif %}


          <div class="card-body">
            <h5 class="card-title">{{ todo.content }}</h5>
            <p class="card-text">{{ todo.get_status_display }}</p>
              <p class="card-text">{{ todo.created_at }}</p>
            <a href="{% url "todo_view" todo.pk %}" class="btn btn-primary">Детальный просмотр</a>
            <a href="{% url "update_todo" todo.pk %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url "delete_todo" todo.pk %}" class="btn btn-primary">Удалить</a>


          </div>
        </div>

    {% endfor %}

{% endblock %}

