<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To do</title>
</head>
<body>
<div>
    <h1>Описание: {{ todo.content }}</h1>
    <h3 >Статус: {{ todo.get_status_display }}</h3>
    <p>Детальное описание: {{ todo.details }}</p>
    <p>Дата выполнения: {{ todo.created_at}}</p>

    <a href="{% url "index" %}" >На главную</a>
</div>

</body>
</html>